:root{
    --almostwhite: #e5e5e5;
    --gradienttext: linear-gradient(#9F87FF, #C275FF);
    --firstcard: linear-gradient(#B547D5, #F05A8A);
    --secondcard: linear-gradient(#5964E0, #B848D4);
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.375rem;
}

h1{
    font-family: "Kavoon", serif;
    font-size: 3.438rem;
    letter-spacing: 0.11em;
    line-height: 112.5%;
    background-image: linear-gradient(90deg, #9F87FF, #C275FF);
    background-clip: text;
    color: transparent;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Comfortaa", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--almostwhite);
    margin: 0;
    padding: 0;
}

.btns-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.fp-btns {
    width: 15.5rem;
    height: 3rem;
    border: none;
    border-radius: 1.75rem;
    font-size: 1.25rem;
    color: var(--almostwhite);
    font-family: "Comfortaa", sans-serif;
}

.quiz-btn {
    background-image: linear-gradient(45deg, #EF7277, #C245D1);
}

.games-btn {
    background-image: linear-gradient(45deg, #4B6EDE, #C245D1);
}

a {
    text-decoration: none;
}