* {
    box-sizing: border-box;
}

:root{
  --almostwhite: #e5e5e5;
  --gradienttext: linear-gradient(#9F87FF, #C275FF);
  --firstcard: linear-gradient(#B547D5, #F05A8A);
  --secondcard: linear-gradient(#5964E0, #B848D4);
}

body {
    background: linear-gradient(to bottom left, #221133, #663399) no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Koulen';
    font-weight: 100;
    color: #e5e5e5;
}

.game-btn {
    font-family: 'Koulen';
    font-size: larger;
    height: 40px;
    width: 90px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #e5e5e5;
    margin: 0px 25px;
    color: black;
}

.game-btn:hover{
    background: #ddd;
}

.game-cards {
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

