
h1 {
    margin: 0;
    color: var(--almostwhite);
}

body{
    height: 120vh;
}

main {
    width: 100vw;
}

h2 {
    font-size: 55px;
    width: 200px;
    font-family: koulen, sans-serif;
    font-weight: normal;
    letter-spacing: 5.5px;
    background-image: linear-gradient(90deg, #9F87FF, #C275FF);
    background-clip: text;
    color: transparent;
    margin: 93px 0 20px 8px;
}

.buttons-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 52px;
    margin-bottom: 109px;
}

.why-me-btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 22px;
    gap: 20px;
    background-image: linear-gradient(45deg, #EF7277, #C245D1);
    width: 89vw;
    height: 157px;
    border-radius: 28px;
}

.why-me-icon img {
    height: 40px;
    width: 40px;
}

h3 {
    color: var(--almostwhite);
    font-family: comfortaa, sans-serif;
    font-weight: normal;
    margin: 0 0 32px 0;
}

.nhie-btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 22px;
    gap: 20px;
    background-image: linear-gradient(45deg, #4B6EDE, #C245D1);
    width: 89vw;
    height: 157px;
    border-radius: 28px;
}

.nhie-icon img {
    height: 40px;
    width: 40px;
}

a {
    text-decoration: none;
}