h1 {
    margin: 0;
    color: var(--almostwhite);
}

body{
    height: 1096px;
}

main {
    width: 100vw;
}

.quiz-categories {
    margin: 62px 0 20px 8px;
}

h2 {
    font-size: 55px;
    width: 4200px;
    font-family: koulen, sans-serif;
    font-weight: normal;
    letter-spacing: 5.5px;
    background-image: linear-gradient(90deg, #9F87FF, #C275FF);
    background-clip: text;
    color: transparent;
    margin: 0;
}

h3 {
    color: var(--almostwhite);
    font-family: comfortaa, sans-serif;
    font-weight: normal;
    margin: 0 0 32px 0;
}

.quiz-header {
    font-family: comfotaa, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: var(--almostwhite);
}

.history {
    grid-area: history;
    height: 157px;
    border-radius: 28px;
    background: #221133;
}

.music {
    grid-area: music;
    height: 158px;
    border-radius: 28px;
    background: #221133;
}

.science {
    grid-area: science;
    height: 239px;
    border-radius: 28px;
    background: #221133;
}

.movies {
    grid-area: movies;
    height: 239px;
    border-radius: 28px;
    background: #221133;
}

.dirty {
    grid-area: dirty;
    height: 158px;
    border-radius: 28px;
    background: #221133;
}

.celebrity {
    grid-area: celebrity;
    height: 157px;
    border-radius: 28px;
    background: #221133;
}

.categories-btns {
    display: grid;
    grid-template-columns: 157px 157px;
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas:
    "history history"
    "music science"
    "movies science"
    "movies dirty"
    "celebrity celebrity";
}
