.nhie-outer-box {
    margin-top: 32px;
}

.nhie-cards {
    height: 200px;
    width: 320px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first-card {
    background: var(--firstcard);
    position: absolute;
    top: 162px;
    z-index: 5;
    font-family: Comfortaa;
    padding: 30px;
}

#second-card {
    background: var(--secondcard);
    transform: rotate(4deg);
}
.game-btn-box {
    display: flex;
    position: relative;
    margin-top: 96px;
    z-index: 2;
}

h1{
    color: white;
}

#rules {
    position: absolute;
    z-index: 999; 
    color: black;
    background-color: azure;
    padding: 50px;
    border-radius: 30px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 80%; 
}

#rules h1 {
    color: black;
}

#rules .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#game-info{
    color: white;
padding-left: 50px;
cursor: pointer;
}

