.header{
    color: white;
}

.game-header{
    color: white;
}

h2{
    font-family: comfortaa;
}

button{
 font-family: 'Comfortaa', sans-serif;
    height: 54px;
    width: 315px;
    cursor: pointer;
}