.game-header {
    color: var(--almostwhite);
}

#rules {
    position: absolute;
    z-index: 999;
    color: black;
    background-color: azure;
    padding: 50px;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}

#rules h1 {
    color: black;
}

#rules .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#game-info{
    color: white;
    padding-left: 50px;
}

.wm-outer-box {
    margin-top: 32px;
}

.wm-cards {
    height: 348px;
    width: 302px;
    transition: background-color 1s ease-in-out; 
}

#card-1 {
    background: var(--firstcard);
    position: absolute;
    top: 168px;
    z-index: 5;
}

#card-2 {
    background: var(--secondcard);
    transform: rotate(4deg);
}

.game-btn-box {
    display: flex;
    position: relative;
    margin-top: 96px;
}


